#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/class/makefile.mk

# usplash is not available on ia64
#ifeq ($(DEB_HOST_ARCH_CPU),ia64)
#ENV :=
#else
ENV := USE_USPLASH=1
#endif

DEB_MAKE_BUILD_TARGET := tuxoniceui

binary:
	make $(ENV)

binary-post-install/tuxonice-userui::
	install -m 755 -t $(CURDIR)/debian/tuxonice-userui/usr/lib/tuxonice-userui/ \
		 $(DEB_MAKE_BUILD_TARGET)

	install -m 755 debian/initramfs.hook \
		$(CURDIR)/debian/tuxonice-userui/usr/share/initramfs-tools/hooks/tuxonice_userui

	install -m 755 debian/99tuxoniceui \
		$(CURDIR)/debian/tuxonice-userui/usr/lib/pm-utils/sleep.d/99tuxoniceui
