# CONFIG_FS_FREEZER_DEBUG is not set
CONFIG_TOI=y
# CONFIG_TOI_CHECKSUM is not set
CONFIG_TOI_CORE=y
CONFIG_TOI_CRYPTO=y
CONFIG_TOI_DEFAULT_EXTRA_PAGES_ALLOWANCE=2000
CONFIG_TOI_DEFAULT_WAIT=25
CONFIG_TOI_FILE=y
CONFIG_TOI_IGNORE_LATE_INITCALL=y
# CONFIG_TOI_KEEP_IMAGE is not set
CONFIG_TOI_REPLACE_SWSUSP=y
CONFIG_TOI_SWAP=y
CONFIG_TOI_DEFAULT_PRE_HIBERNATE=""
CONFIG_TOI_DEFAULT_POST_HIBERNATE=""
CONFIG_TOI_USERUI=y
CONFIG_TOI_USERUI_DEFAULT_PATH="/usr/lib/tuxonice-userui/tuxoniceui_usplash"
CONFIG_CRYPTO_LZF=y
CONFIG_TOI_DEFAULT_IMAGE_SIZE_LIMIT=-2
