#!/usr/bin/make -f
#
#	Debian rules file for hibernate
#
# Originally written by Cameron Patrick, 2004 and released to the public domain.
# Modified by martin f. krafft.
#
# Copyright © martin f. krafft <madduck@debian.org>
# Released under the terms of the Artistic Licence 2.0
#
# $Id$
#

include /usr/share/dpatch/dpatch.make

$(DPATCH_STAMPFN): debian/patches/00list
force-run:
.PHONY: force-run
debian/patches/00list: force-run
	dh_testdir
	make -sC debian/patches

configure: debian/patches/00list

hibernate: hibernate.sh
	install -m755 $< $@

hibernate.8 hibernate.conf.5:
	sh ./gen-manpages.sh

debian/hibernate.init: init.d/hibernate-cleanup.sh
	ln $< $@

build: build-stamp
build-stamp: configure patch hibernate hibernate.8 hibernate.conf.5 debian/hibernate.init
	dh_testdir
	touch $@
.PHONY: build-stamp

binary: binary-arch binary-indep

binary-arch:

binary-indep: build
	dh_testroot
	dh_testdir
	dh_clean -i -k
	dh_installdirs -i
	dh_install -i

	install -o root -g root -m 644 logrotate.d-hibernate-script \
    debian/hibernate/etc/logrotate.d/hibernate

	install -o root -g root -m 755 debian/bugscript \
    debian/hibernate/usr/share/bug/hibernate/script

	sed -i -e 's,^[^#].*Distribution.*,# &,' \
	       -e 's,^# Distribution.*,Distribution debian,' \
	  debian/hibernate/etc/hibernate/common.conf

	find debian/hibernate -type d -name .svn -print0 | xargs -0 rm -rf

	dh_installdocs -i
	dh_installexamples -i
	dh_installchangelogs -i CHANGELOG
	dh_installinit --no-start -- start 31 S .
	dh_installman -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_builddeb -i

clean: clean-patched unpatch

clean-patched:
	dh_testdir
	dh_testroot
	dh_clean
	$(MAKE) -C debian/patches
	rm -f hibernate hibernate.8 hibernate.conf.5 debian/hibernate.init
	rm -f configure-stamp build-stamp

# arch-tag: daab4fb5-a946-4271-be82-425047e0d2ac
